body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.nav{
    display: flex;
   
    
}
.logo{
    height: 50px;
    width: 50px;
}
.logo img{
    height: 50px;
    width: 50px;
}
.mid{
    display: flex;
    justify-content: center;
}